{% extends "base.html" %}
{% load i18n mptt_tags sekizai_tags %}

{% block top_menu %}
<ul class="nav navbar-nav">
    <li role="presentation">
    <a role="menuitem" href="https://she-intra.kronosww.com"
         class="navbar-button">{% trans "SHE InfoNet" %}</a>
    </li>
    <li role="presentation">
    <a role="menuitem" href="/"
         class="navbar-button">{% trans "Chemicals" %}</a>
    </li>
    <li class="dropdown">
    {% with items=cart.psaitems.count %}
        <a id="cart_dd" href="#" role="button" data-toggle="dropdown"
            class="navbar-button">{% trans "View Cart" %}
            <span class="badge {% if items > 0 %}badge-active{%endif %}">
                {{ items }}
            </span>
            <span class="caret"></span>
        </a>
        <ul id="cart_menu" class="dropdown-menu" aria-labelledby="cart_dd"
            role="menu"> 
            {% if items == 0 %}
            <li role="presentation" class="dropdown-header">
                {% trans "Your cart is empty" %}
            </li>
            {% else %}
                {% for item in cart.psaitems.all %}
                <li role="presentation" class="disabled">
                <a role="menuitem" tabindex="-1" href="#">
                    <span style="width:5em" class="badge badge-active">
                        {{ item.quantity }}</span>
                    {{ item.item }}
                </a></li>
                {% endfor %}
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1"
                    href="{% url 'cart_detail' %}">{% trans "View Details" %}
                </a></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="EmptyCart"
                    href="{% url 'empty_cart' %}?ref={{ request.path }}">
                    {% trans "Empty List" %}
                </a></li>
            {% endif %}
        </ul>
        {% endwith %}
    </li>
</ul>
{% endblock %}

{% block topright_menu %}{% endblock %}

{% block base_content %}
<div id="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <button type=button" class="close" data-dismiss="alert" aria-lagel="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
</div>
<div id="content">
    <div class="row">
        <div class="col-md-4">
            {% block psa_filter %}{% endblock %}
            {% block psa_navigation %}
            <h3 style="color:#0E509C">{% trans "Categories" %}</h3>
            <ul class="list-unstyled">
                {% recursetree nodes %}
                <li {% if node.id == category.id %} class="active-node" {% endif %}>
                {% if not node.is_leaf_node %}
                    <a data-toggle="collapse" href="#child-{{ node.id }}"
                        class="btn btn-xs" aria-expanded="false" aria-controls="collapse">
                        {% if node.is_child_node %}
                            <span class="glyphicon glyphicon-plus-sign"
                                style="margin-left:25px;" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                {% else %}
                    {% if node.is_child_node %}
                    <a href="#" class="btn btn-xs">
                        <span class="glyphicon glyphicon-record"
                            style="margin-left:25px;" aria-hidden="true"></span>
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-xs">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                {% endif %}
                    <a href="{% url 'item_list' node.id %}" class="node_text">
                        {{ node.name }}
                    </a>
                </li>
                {% if not node.is_leaf_node %}
                    <ul class="children list-unstyled collapse
                        {% if node.id == active_id or node.id == category.id %}in{% endif %}"
                        id="child-{{ node.id }}">
                        {{ children }}
                    </ul>
                {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
            {% endblock %}
        </div>
        <div class="col-md-8">
            {% block psa_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.EmptyCart').click(function(){
            return confirm('{% trans "Really Delete?" %}')
        });
        $('p:contains("Achtung!")').addClass("alert alert-danger");
    </script>
{% endblock %}
