{% extends "psa/base.html" %}
{% load i18n psa_tags crispy_forms_tags sekizai_tags %}

{% block psa_content %}
{% if submitted %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(function (){
                $('#CartForm').modal('show');
            });
        </script>
    {% endaddtoblock %}
{% endif %}
{% if printed %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(function(){
                window.open(
                    '{% url "requisition_detail" requisition.id %}',
                    '{% trans "Requisition" %}'
                );
            });
        </script>
    {% endaddtoblock %}
{% endif %}

<h1>{% trans 'Cart Details' %}</h1>
{% if cart.psaitems.count > 0 %}
<table class="table table-bordered table-striped">
    <tr>
        <th>{% trans 'Image' %}</th>
        <th>{% trans 'Product Number' %}</th>
        <th>{% trans 'Location' %}</th>
        <th>{% trans 'Product' %}</th>
        <th colspan="2">{% trans 'Quantity' %}</th>
    </tr>
    {% for obj in cart.psaitems.all %}
    <tr>
        <td>
            <img src="{{ obj.item.image.url }}"
                 alt="{% trans 'Product image' %}"
                 class="img-responsive"
                 width="100"
                 height="100">
        </td><td>
            {{ obj.item.number }}
        </td><td>
            {{ obj.item.get_location_display }}
        </td><td>
            {{ obj.item.name }}
        </td><td>
            <div class="row">
                <form id="change_item_{{ obj.id }}" method="POST">
                <div class="col-xs-6">
                    {% csrf_token %}
                    <input type="hidden" value="{{ obj.id }}" name="ch_item">
                    <input class="text_input textInput form-control"
                    type="number" name="quantity" maxlength="5"
                    value="{{ obj.quantity }}">
                </div>
                <div class="col-xs-6">
                    <button type="submit"
                        class="btn btn-default btn-sm btn-block">
                        {% trans "Change quantity" %}
                    </button>
                </div>
                </form>
            </div>
            <div class="row">
                <form id="remove_item_{{ obj.id }}" method="POST">
                <div class="col-xs-6">
                    {% csrf_token %}
                    <input type="hidden" value="{{ obj.id }}" name="rm_item">
                </div>
                <div class="col-xs-6">
                    <button type="submit"
                        class="btn btn-danger btn-sm btn-block">
                        {% trans "Remove" %}
                    </button>
                </div>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<div>
    <a class="btn btn-primary" href="#" role="button" data-toggle="modal"
        data-target="#CartForm">{% trans 'Print Cart' %}</a>
    <a class="btn btn-danger EmptyCart" role="button"
        href="{% url 'empty_cart' %}?ref={{ request.path }}">
        {% trans "Empty List" %}</a>
</div>
<div id="CartForm" tabindex="-1" role="dialog" aria-hidden="true"
    aria-labelledby="CartFormLabel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="print_requisition" method="post">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="CartFormLabel">
                    {% trans "Requisition" %}
                </h3>
            </div>
            <div class="modal-body">
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary" id="PrintCart">
                    {% trans "Print Cart" %}</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-body">
        {% trans "There are no items on the list, yet" %}
    </div>
</div>
{% endif %}

{% endblock psa_content %}
